name: DevSecOps Bot Scan

on:
  push:
    branches: [ main ]

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@v2
        with:
          scan-type: fs
          severity: HIGH,CRITICAL
          exit-code: 0
